@using EmployeesDB.Entities
@model Position
@{
    ViewBag.Title = "Удаление должности";
}
<fieldset>
    <legend>Удаление должности</legend>
    <p>
        Должность&nbsp;
        <strong>
            @Html.DisplayFor(p => p.Title)
        </strong>
        &nbsp;
        будет удалена!
    </p>
    @using (Html.BeginForm())
    {
        <input type="submit" value="Удалить" class="btn btn-primary" />
    }
</fieldset>
